In [1]:
''' 
    函数功能：针对离散变量以对应特征的二分类中正例的比例替换 
    输入：原始数据的DataFrame，待处理列的列名，对应y的label列名 
    输出：值更新后的新DataFrame 
''' 
def featNormalization(data,coltype,label):
    keys = list(coltype.keys())
    for key in keys:
        if coltype[key]=="discrete":
            data = replaceDiscreteValue(data,key,label)
        elif coltype[key]=="continuous":
            data = replaceMeanValue(data,key)
    return data

In [2]:
''' 
    函数功能：连续变量归一化，以(x-min)/(max-min)的值替换x 
    输入：原始数据的DataFrame，待处理的列名 
    输出：值更新后的新DataFrame 
''' 
def replaceDiscreteValue(data,colname,label):
    colDiffValue = np.unique(data[colname])
    oneOfLabel = np.unique(data[label])[0]
    for value in colDiffValue:
        valueIndex = data[data[colname] == value].index.tolist()
        valueNum = len(valueIndex)
        valueData = data.loc[valueIndex, [colname,label]]
        positiveNum = len(valueData[valueData[label] == oneOfLabel])
        positiveRatio = positiveNum/valueNum
        data.loc[valueIndex,colname] = round(positiveRatio,3)
    return data

In [3]:
'''' 
    函数功能：对离散化后的连续变量进行归一化,离散变量进行向量化 
    输入：离散化后的数据(包含label的列名) 
    输出：归一化后的数据 
'''
def replaceMeanValue(data,colname):
    diffValue = np.unique(data[colname])
    for value in diffValue:
        valueIndex = data[data[colname]==value].index.tolist()
        normalValue=0.0
        if len(diffValue)!=1:
            normalValue = (value - min(diffValue))/(max(diffValue)-min(diffValue))
        data.loc[valueIndex,colname] = round(normalValue,3)
    return data

In [5]:
class dataVector:
    def featNormalization(data,coltype,label):
        keys = list(coltype.keys())
        for key in keys:
            if coltype[key]=="discrete":
                data = replaceDiscreteValue(data,key,label)
            elif coltype[key]=="continuous":
                data = replaceMeanValue(data,key)
        return data

    def replaceDiscreteValue(data,colname,label):
        colDiffValue = np.unique(data[colname])
        oneOfLabel = np.unique(data[label])[0]
        for value in colDiffValue:
            valueIndex = data[data[colname] == value].index.tolist()
            valueNum = len(valueIndex)
            valueData = data.loc[valueIndex, [colname,label]]
            positiveNum = len(valueData[valueData[label] == oneOfLabel])
            positiveRatio = positiveNum/valueNum
            data.loc[valueIndex,colname] = positiveRatio
        return data
    
    def replaceMeanValue(data,colname):
        diffValue = np.unique(data[colname])
        for value in diffValue:
            valueIndex = data[data[colname]==value].index.tolist()
            normalValue=0.0
            if len(diffValue)!=1:
                normalValue = (value - min(diffValue))/(max(diffValue)-min(diffValue))
            data.loc[valueIndex,colname] = normalValue
        return data

In [7]:
vectorData = featNormalization(disdata,coltype,"label")
vectorData.head()
#保存向量化之后的数据
savePath="C:/Users/tongchuchu/Desktop/vectoruserdata.csv"
vectorData.to_csv(savePath, sep=",",index=False)

,custermor_number,gender,cust_gov_fund_ind,title,occupation,education_code,marital,credit_12month_consume,risk_grade,disch_loan_amount,...,mon24_count,house_loan_trml,house_loan_life_trml,house_app_amt1,house_payment_amt1,house_prepay_amt1,house_loan_amt1,house_loan_behavior_grade,house_overdue_count,label
0,100001,1,1,0,1,1,0,10012.0,1,1,...,1,240,124,30000,1000,0,30000,80,0,0
1,100002,2,2,1,2,2,1,7000.0,2,2,...,2,360,250,40000,2000,10,40000,90,0,1
2,100003,1,3,2,4,3,2,5000.0,3,0,...,0,120,100,50000,2500,0,50000,70,4,1
3,100004,2,4,3,5,4,3,30020.0,4,3,...,4,60,40,60000,3000,0,60000,85,0,0
4,100005,1,5,4,11,5,4,4356.0,5,1,...,1,240,200,70000,3750,0,70000,87,0,1
5,100006,2,1,0,13,6,5,14790.0,1,2,...,2,360,100,80000,4400,20,80000,89,0,1
6,100007,1,2,1,18,7,6,15960.8,2,0,...,0,120,100,90000,5050,0,90000,91,0,0
7,100008,2,3,2,19,8,7,17131.6,3,3,...,3,60,30,100000,5700,0,100000,93,0,1
8,100009,1,4,3,21,9,0,18302.4,4,5,...,5,240,30,110000,6350,0,110000,95,2,1
9,100010,2,5,4,22,10,1,19473.2,5,2,...,2,360,60,120000,7000,0,120000,72,0,0
10,100011,1,1,0,23,11,2,20644.0,1,0,...,0,120,80,130000,7650,0,130000,66,0,1
11,100012,2,2,1,24,12,3,21814.8,2,3,...,3,60,45,140000,8300,5,140000,85,0,1
12,100013,1,3,2,25,13,4,22985.6,3,1,...,5,240,225,150000,8950,0,150000,87,0,0
13,100014,2,4,3,26,14,5,24156.4,4,2,...,2,360,300,160000,9600,0,160000,89,0,1
14,100015,1,5,4,27,15,6,25327.2,5,0,...,0,120,100,170000,10250,7,170000,91,3,1
15,100016,2,1,0,28,16,7,26498.0,1,3,...,3,60,50,180000,10900,0,180000,95,0,0
16,100017,1,2,1,29,17,0,27668.8,2,1,...,1,240,220,190000,11550,0,190000,72,0,1
17,100018,2,3,2,30,18,1,28839.6,3,2,...,2,360,300,200000,12200,0,200000,66,0,1
18,100019,1,4,3,31,19,2,30010.4,4,0,...,0,120,100,210000,12850,9,210000,83,0,0
19,100020,2,5,4,32,20,3,31181.2,5,3,...,3,60,55,220000,13500,0,220000,84,0,1